body {

  background-color:MediumSeaGreen;
}
h1{
  text-align:center;
}
.div-1{
  text-align:center;
  background-color: white;
  font-size:300%;
  font-family:courier;
}
.div-2{
  font-size:100%;
  font-family:garamond;
  text-align:center;
  width:75%;
  margin: auto;
}
.div-3{
  font-size:100%;
  font-family:garamond;
  text-align:center;
  width:75%;
  margin: auto;
}
.div-4{
  font-size:100%;
  font-family:garamond;
  text-align:center;
  width:75%;
  margin: auto;
}
